# IDE & EDITOR SETTINGS
.vscode/
.python-version

# CREDENTIALS & CONFIGURATION
.env
.npmrc
.pypirc

# COMPILED FILES & CACHES
__pycache__/
*.py[cod]
*$py.class

# BUILD ARTIFACTS
build/
dist/
target/
wheels/
*.egg-info/
.Python
.pybuilder/
.pytype/
cython_debug/
__pypackages__/

# TESTING
.venv/
.pytest_cache/

# MISCELLANEOUS
.DS_Store
Thumbs.db
