@import 'fonts.css';

/****************************************************** VARIABLES *******************************************************/

:root {
  --vp-layout-max-width: 100dvw;
  --vp-font-family-mono:
    'JetBrains Mono NF', ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* Terminal Theme */
  --term-black: #303134;
  --term-br-black: #66676a;
  --term-red: #ff6467;
  --term-br-red: #ff9597;
  --term-green: #58f7bd;
  --term-br-green: #90ffd1;
  --term-yellow: #ffba75;
  --term-br-yellow: #ffda96;
  --term-blue: #7c86ff;
  --term-br-blue: #94a6ff;
  --term-magenta: #b196ff;
  --term-br-magenta: #d3a9fe;
  --term-cyan: #53eafd;
  --term-br-cyan: #81f3ff;
  --term-white: #eaebee;
  --term-br-white: #fbfcff;

  /* Light Theme */
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #fafafa;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f0f0f0;
  --vp-c-border: #ededed;
  --vp-c-divider: #ededed;
  --vp-c-gutter: #ededed;
  --vp-code-bg: #f0f0f0;
  --vp-code-block-bg: #fafafa;

  --vp-c-text-1: rgba(0 0 0 / 0.88);
  --vp-c-text-2: rgba(0 0 0 / 0.6);
  --vp-c-text-3: rgba(0 0 0 / 0.38);

  --base-brand: #7e52ff;
  --vp-c-brand-1: var(--base-brand);
  --vp-c-brand-2: color-mix(in srgb, var(--base-brand), white 20%);
  --vp-c-brand-3: color-mix(in srgb, var(--base-brand), white 40%);

  /* Button Overrides */
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-text: #ffffff;
  --vp-button-brand-hover-bg: color-mix(in srgb, var(--vp-c-brand-2), var(--vp-c-brand-1) 50%);
  --vp-button-brand-active-bg: var(--vp-c-brand-2);

  --vp-button-alt-bg: var(--vp-c-bg-soft);
  --vp-button-alt-text: var(--vp-c-text-1);
  --vp-button-alt-hover-bg: color-mix(in srgb, var(--vp-c-border), var(--vp-c-bg-soft) 50%);
  --vp-button-alt-active-bg: var(--vp-c-border);

  --vp-button-sponsor-bg: var(--vp-c-bg-soft);
  --vp-button-sponsor-text: var(--vp-c-text-1);
  --vp-button-sponsor-hover-bg: color-mix(in srgb, var(--vp-c-border), var(--vp-c-bg-soft) 50%);
  --vp-button-sponsor-active-bg: var(--vp-c-border);

  /* Dark Theme*/
  --dark-vp-c-bg: #101010;
  --dark-vp-c-bg-alt: #000000;
  --dark-vp-c-bg-elv: #1a1a1a;
  --dark-vp-c-bg-soft: #1a1a1a;
  --dark-vp-c-border: #262626;
  --dark-vp-c-divider: #262626;
  --dark-vp-c-gutter: #262626;
  --dark-vp-code-bg: #262626;
  --dark-vp-code-block-bg: #000000;

  --dark-vp-c-text-1: rgba(255 255 255 / 0.9);
  --dark-vp-c-text-2: rgba(255 255 255 / 0.6);
  --dark-vp-c-text-3: rgba(255 255 255 / 0.38);

  --dark-vp-c-brand-1: color-mix(in srgb, var(--base-brand), white 40%);
  --dark-vp-c-brand-2: color-mix(in srgb, var(--base-brand), white 20%);
  --dark-vp-c-brand-3: var(--base-brand);

  --dark-vp-button-brand-bg: var(--dark-vp-c-brand-3);
  --dark-vp-button-brand-text: #ffffff;
  --dark-vp-button-brand-hover-bg: color-mix(
    in srgb,
    var(--dark-vp-c-brand-2),
    var(--dark-vp-c-brand-3) 50%
  );
  --dark-vp-button-brand-active-bg: var(--dark-vp-c-brand-2);
}

.dark {
  /* Dark Theme */
  --vp-c-bg: var(--dark-vp-c-bg);
  --vp-c-bg-alt: var(--dark-vp-c-bg-alt);
  --vp-c-bg-elv: var(--dark-vp-c-bg-elv);
  --vp-c-bg-soft: var(--dark-vp-c-bg-soft);
  --vp-c-border: var(--dark-vp-c-border);
  --vp-c-divider: var(--dark-vp-c-divider);
  --vp-c-gutter: var(--dark-vp-c-gutter);
  --vp-code-bg: var(--dark-vp-code-bg);
  --vp-code-block-bg: var(--dark-vp-code-block-bg);

  --vp-c-text-1: var(--dark-vp-c-text-1);
  --vp-c-text-2: var(--dark-vp-c-text-2);
  --vp-c-text-3: var(--dark-vp-c-text-3);

  --vp-c-brand-1: var(--dark-vp-c-brand-1);
  --vp-c-brand-2: var(--dark-vp-c-brand-2);
  --vp-c-brand-3: var(--dark-vp-c-brand-3);

  /* Different color usage for primary buttons in dark mode. */
  --vp-button-brand-bg: var(--dark-vp-button-brand-bg);
  --vp-button-brand-text: var(--dark-vp-button-brand-text);
  --vp-button-brand-hover-bg: var(--dark-vp-button-brand-hover-bg);
  --vp-button-brand-active-bg: var(--dark-vp-button-brand-active-bg);
}

/*********************************************** TYPOGRAPHY & INLINE CODE ***********************************************/

/* Custom Inline Code Colors */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6, a) > code {
  color: color-mix(in srgb, var(--vp-c-text-2), var(--vp-c-text-1) 50%) !important;
}
.vp-doc :is(h1, h2, h3, h4, h5, h6) > code {
  color: var(--vp-c-brand-1) !important;
}

/* Font Ligatures for Code Blocks */
code,
kbd,
samp,
pre,
[class*='language-'],
[class*='language-'] * {
  letter-spacing: normal !important;
  font-feature-settings:
    'calt' 1,
    'liga' 1 !important;
  font-variant-ligatures: normal !important;
}

/***************************************************** GLOBAL LAYOUT ****************************************************/

/* Wide Docs Layout for API Columns */
body .VPDoc,
body .VPDoc .container,
body .VPDoc.has-sidebar .container,
body .VPDoc .content,
body .VPDoc.has-sidebar .content,
body .VPDoc .content-container,
body .VPDoc.has-sidebar .content-container,
body .vp-doc,
body .vp-doc > div {
  width: 100% !important;
  max-width: none !important;
}

/* Restrict regular markdown elements back to optimal typographic line length. */
body .vp-doc > div > *,
body .vp-doc > div > div[class*='language-'],
body .vp-doc > div > .custom-block {
  max-width: 48rem;
  margin-left: auto !important;
  margin-right: auto !important;
}
body .vp-doc > div > .api-item {
  max-width: none;
  margin-left: auto !important;
  margin-right: auto !important;
}

/**************************************************** API GRID SYSTEM ***************************************************/

/* API Item Two-Column Layout */
.api-item {
  gap: 2rem;
  margin-top: 3rem;
  padding-top: 1.5rem;
  grid-template-columns: 1fr;
  display: grid;
  align-items: start;
  justify-content: center;
  border-top: 1px solid var(--vp-c-divider);
}

@media (min-width: 960px) {
  .api-item {
    grid-template-rows: auto 1fr;
    /* Responsive columns: left tries for 420px, right tries for 48rem, both can shrink. */
    grid-template-columns: minmax(300px, 420px) minmax(400px, 48rem);
  }
  .api-item > h3,
  .api-item > h4 {
    grid-row: 1;
    grid-column: 2;
    margin-top: 0 !important;
  }

  .api-signature-col {
    top: calc(var(--vp-nav-height, 64px) + 2rem);
    grid-row: 1 / span 2;
    grid-column: 1;
    position: sticky;
  }

  .api-docs-col {
    grid-row: 2;
    grid-column: 2;
  }
}

.api-signature-col,
.api-docs-col {
  min-width: 0; /* Prevent long code blocks from forcing the grid to blow out. */
}

.api-signature-col > div[class*='language-'] {
  margin: 0 !important;
}

/****************************************************** SCROLLBARS ******************************************************/

* {
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, var(--vp-c-text-1) 24%, transparent) transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: color-mix(in srgb, var(--vp-c-text-1) 24%, transparent);
}
::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--vp-c-text-1) 32%, transparent);
}

::-webkit-scrollbar-button {
  display: none;
}

/************************************************ API CLASS NAMES & LINKS ***********************************************/

.api-item h4 code a.class-prefix::before {
  content: attr(data-class-prefix);
}

.api-item h4 code a.class-prefix {
  z-index: 0;
  opacity: 0.64;
  font-weight: 500;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: dashed;
  text-decoration-color: color-mix(in srgb, currentColor 64%, transparent);
  transition:
    opacity 200ms,
    color 200ms,
    text-decoration-color 200ms;
}

.api-item h4 code a.class-prefix:hover {
  opacity: 1;
  color: inherit !important;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
}
.api-item h4 code a.class-prefix:active {
  opacity: 1;
  color: inherit !important;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
}

.vp-doc .api-link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: dashed;
  text-decoration-color: color-mix(in srgb, currentColor 40%, transparent);
  transition:
    color 200ms,
    text-decoration-color 200ms;
}
.vp-doc .api-link:hover {
  color: inherit !important;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
}

@keyframes target-flash {
  0%,
  20% {
    color: var(--vp-button-brand-text) !important;
    background-color: var(--vp-button-brand-hover-bg) !important;
  }
  100% {
    background-color: transparent;
  }
}

.vp-doc :is(h1, h2, h3, h4, h5, h6).target-highlight > code,
.vp-doc :is(h1, h2, h3, h4, h5, h6).target-highlight > code * {
  color: var(--vp-button-brand-text) !important;
  background-color: var(--vp-button-brand-hover-bg) !important;
  transition:
    background-color 200ms,
    color 200ms;
}

.vp-doc :is(h1, h2, h3, h4, h5, h6):target > code,
.vp-doc :is(h1, h2, h3, h4, h5, h6):target > code * {
  animation: target-flash 1.5s ease-out;
}

/************************************************ CODE BLOCKS & VIGNETTE ************************************************/

/* Move scrolling to the `<pre>` so we can overlay a fixed vignette on the wrapper. */
.vp-doc div[class*='language-'] {
  position: relative;
  overflow: hidden !important;
  border: 1px solid color-mix(in srgb, var(--vp-c-bg), var(--vp-c-border) 70%);
}

.vp-doc div[class*='language-'] > pre {
  z-index: 1;
  position: relative;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  scrollbar-color: transparent transparent;
}

.vp-doc div[class*='language-'] > pre::-webkit-scrollbar-thumb,
.vp-doc div[class*='language-'] > pre::-webkit-scrollbar-track,
.vp-doc div[class*='language-'] > pre::-webkit-scrollbar-corner {
  background: transparent !important;
}

.vp-doc div[class*='language-'] > pre::-webkit-scrollbar-button:horizontal {
  display: block !important;
}

/* Fade-out Vignette Effect */
.vp-doc div[class*='language-']::after {
  z-index: 2;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px; /* Leave room so scrollbar is not obscured. */
  position: absolute;
  pointer-events: none;
  box-shadow: inset 0 0 16px 8px var(--vp-code-block-bg);
}

/* Ensure copy button and language indicator sit above the vignette. */
.vp-doc div[class*='language-'] > button.copy,
.vp-doc div[class*='language-'] > span.lang {
  z-index: 3 !important;
}

/* Correct focus ring for code blocks. */
.vp-doc div[class*='language-']:focus,
.vp-doc div[class*='language-']:focus-within,
.vp-doc div[class*='language-'] > pre:focus,
.vp-doc div[class*='language-'] > pre:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

/************************************************ ATTACHED CODE/TERMINAL ************************************************/

/* Merge code block with an adjacent terminal output. */
.vp-doc div[class*='language-']:has(+ .ext-terminal),
.vp-doc div[class*='language-']:has(+ .ext-attached-code) {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: none !important;
  clip-path: inset(-30px -30px 0 -30px);
}

.vp-doc div[class*='language-'] + .ext-terminal {
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  clip-path: inset(0 -30px -30px -30px);
}

.vp-doc .ext-attached-code {
  margin-top: 0 !important;
  position: relative;
}

/* The inner code block inside AttachedCode. */
.vp-doc .ext-attached-code > div[class*='language-'] {
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 1px solid color-mix(in srgb, var(--vp-c-bg), var(--vp-c-border) 70%) !important;
  clip-path: inset(0 -30px -30px -30px);
}

/* Custom Title */
.vp-doc .ext-attached-code .attached-title {
  z-index: 4;
  top: 0;
  left: 50%;
  padding: 0 8px;
  font-size: 12px;
  transform: translate(-50%, -50%);
  font-weight: 700;
  letter-spacing: 0.5px;
  position: absolute;
  user-select: none;
  pointer-events: none;
  text-transform: uppercase;
  color: var(--vp-c-text-2);
  background-color: var(--vp-code-block-bg);
}

/* Custom brighter background for terminal blocks (always dark). */
.vp-doc .ext-terminal {
  --vp-code-lang-color: var(--dark-vp-c-text-3);
  --vp-code-copy-code-border-color: color-mix(
    in srgb,
    var(--dark-vp-c-text-3),
    var(--dark-vp-c-bg-elv) 70%
  );
  --vp-code-copy-code-bg: var(--dark-vp-c-divider);
  --vp-code-copy-code-hover-border-color: color-mix(
    in srgb,
    var(--dark-vp-c-text-3),
    var(--dark-vp-c-bg-elv) 70%
  );
  --vp-code-copy-code-hover-bg: color-mix(
    in srgb,
    var(--dark-vp-c-divider),
    var(--dark-vp-c-bg-elv) 70%
  );
  --vp-code-copy-code-active-text: var(--dark-vp-c-text-2);
  border-color: var(--dark-vp-c-border) !important;
  border-top-color: color-mix(
    in srgb,
    var(--dark-vp-c-border),
    var(--dark-vp-c-bg-elv) 32%
  ) !important;
}
.vp-doc .ext-terminal,
.vp-doc .ext-terminal > pre {
  background-color: var(--dark-vp-c-bg-elv) !important;
}
.vp-doc .ext-terminal::after {
  box-shadow: inset 0 0 16px 8px var(--dark-vp-c-bg-elv) !important;
}

/* Terminal Output Styles */
.term {
  color: var(--dark-vp-c-text-1) !important;

  p {
    margin: 0 !important;
    line-height: inherit;
  }

  .i {
    font-style: italic;
  }
  .b {
    font-weight: 900;
  }
  .u {
    text-decoration: underline;
  }
  .dim {
    opacity: 0.64;
  }

  .black {
    color: var(--term-black) !important;
  }
  .br-black {
    color: var(--term-br-black) !important;
  }
  .bg-black {
    background-color: var(--term-black) !important;
  }
  .bg-br-black {
    background-color: var(--term-br-black) !important;
  }
  .red {
    color: var(--term-red) !important;
  }
  .br-red {
    color: var(--term-br-red) !important;
  }
  .bg-red {
    background-color: var(--term-red) !important;
  }
  .bg-br-red {
    background-color: var(--term-br-red) !important;
  }
  .green {
    color: var(--term-green) !important;
  }
  .br-green {
    color: var(--term-br-green) !important;
  }
  .bg-green {
    background-color: var(--term-green) !important;
  }
  .bg-br-green {
    background-color: var(--term-br-green) !important;
  }
  .yellow {
    color: var(--term-yellow) !important;
  }
  .br-yellow {
    color: var(--term-br-yellow) !important;
  }
  .bg-yellow {
    background-color: var(--term-yellow) !important;
  }
  .bg-br-yellow {
    background-color: var(--term-br-yellow) !important;
  }
  .blue {
    color: var(--term-blue) !important;
  }
  .br-blue {
    color: var(--term-br-blue) !important;
  }
  .bg-blue {
    background-color: var(--term-blue) !important;
  }
  .bg-br-blue {
    background-color: var(--term-br-blue) !important;
  }
  .magenta {
    color: var(--term-magenta) !important;
  }
  .br-magenta {
    color: var(--term-br-magenta) !important;
  }
  .bg-magenta {
    background-color: var(--term-magenta) !important;
  }
  .bg-br-magenta {
    background-color: var(--term-br-magenta) !important;
  }
  .cyan {
    color: var(--term-cyan) !important;
  }
  .br-cyan {
    color: var(--term-br-cyan) !important;
  }
  .bg-cyan {
    background-color: var(--term-cyan) !important;
  }
  .bg-br-cyan {
    background-color: var(--term-br-cyan) !important;
  }
  .white {
    color: var(--term-white) !important;
  }
  .br-white {
    color: var(--term-br-white) !important;
  }
  .bg-white {
    background-color: var(--term-white) !important;
  }
  .bg-br-white {
    background-color: var(--term-br-white) !important;
  }

  .\#000 {
    color: #000 !important;
  }
  .\#FFF {
    color: #fff !important;
  }

  .bg-\#F67 {
    background-color: #f67 !important;
  }
}
